@import "tailwindcss";

@theme {
  --color-brand: #6366f1;
}

@layer base {
  body {
    background-color: #0a0a0a;
    color: #f3f4f6; 
    margin: 0;
    font-family: sans-serif;
  }

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  }
}
